<div class="row m-1 mt-0">
    {{#each goodsList}}
        <section class="col-6 p-1 pt-0">
                <div class="card ">
                    <img class="img-card-top" src="{{img}}">
                    <div class="card-title ms-2 mt-1">
                        {{#if isHot}}<span class="badge rounded-pill text-bg-warning text-uppercase text-light">Hot!</span>{{/if}}
                        {{#if isNew}}<span class="badge rounded-pill text-bg-primary text-light">Нове</span>{{/if}}
                        <br class="my-3">
                        {{#if isFast}}<button class="mt-2 btn btn-success btn-sm">Швидка доставка</button>{{/if}}
                        <br class="my-3">
                        {{#if isFree}}<button class="mt-2 btn btn-secondary btn-sm">Безкоштовна доставка</button>{{/if}}
                        <h5 class="pt-3">{{name}}</h5>
                        {{#with review}}
                            <p>{{amount}} {{text}}</p>
                        {{/with}}
                        <h4 >{{price}}</h4>
                        <p>{{delivery}}</p>
                        {{#each buttons}}
                            <a href={{link}}><button class="btn mb-2 {{#if isPrimary}}btn-primary{{/if}} 
                                                    {{#if isSecondary}}btn-secondary{{/if}}">{{text}}</button></a>
                        {{/each}}
                        {{#each characteristics}}
                            <ul>
                                <li>{{title}}: {{value}}</li>
                            </ul>
                        {{/each}}

                    </div>
                    
                </div>
        </section>
    {{/each}}
</div>